.header {
  display: flex;
  flex-direction: column;
  height: 520px;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  background-color: #a17e1e;
  background-image: url("https://www.transparenttextures.com/patterns/hexellence.png");
}

/* background-image: url("https://www.transparenttextures.com/patterns/subtle-grey.png"); */

.main-avatar {
  margin-top: 150px;
  height: 263px;
  width: 220px;
}

.name {
  margin-top: -0.7em;
  color: #FFFFFF;
}

.name span {
    font-weight: 300;
}
