.new-tweet {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.tweet-button {
  background-color: #4056a1;
  color: #ffffff;
  border: none;
  outline: none;
  padding: 4px;
}

.label {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}

#tweet-text {
  background-color: #f4f1ec;
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 5px;
  width: 100%;
  height: 40px;
  outline: none;
  margin-top: 20px;
  margin-bottom: 10px;
}

.tweet-container {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", cursive;
}
